<strong>Recuperando senha</strong>

<p>Uma solicitação de recuperação de senha foi realizada para o e-mail ({{ user_email }}).
    Se você não foi o autor dessa requisição, seria legal troca sua senha.
</p>

<p>Para continuar com a recuperaçaõ de senha, utilize o token {{ user_token }} ou clique no link abaixo.</p>

<a href="{{ link }}">Criar nova senha</a>